.top_bar_div {
    background-color: #dba8a8;
    margin: 0;
}
.top_bar_div ul li {
    display: inline-block;
    padding: 2px;
    margin: 5px;
}
.top_element {
    background-color: #b67b7b;
    padding: 3px;
}
.icon_text {
    font: 10px;
    font-family:sans-serif;
}
.main_div {
    background-color: #f9dada;
    padding: 10px;
}
.main_div ul li {
    list-style: none;
    background-color: #b67b7b;
    margin-bottom: 12px;
}
.main_div p {
    font-family: cursive;
    font-size: 18px;
}
.wrapper {
    overflow: hidden;
}
.painting {
    float:left;
}
.annotation {
    float:center;
}
img {
    padding: 20px;
    width: 400px;
}
.footer_div {
    background-color: #dba8a8;
}
p {
    color: #503232;
}
ul {
    margin: 0;
}
